<launch>

  <!-- Motor Control -->
  <include file="$(find ugv)/launch/ugv.launch" />

  <!-- Transform and Robot Model -->
  <param name="robot_description" command="cat $(find udv)/config/udv.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- Joystick Handling -->
  <!--
  <node pkg="joy" type="joy_node" name="joy_node">
    <param name="dev" value="/dev/input/js0" />
    <param name="deadzone" value="0.3" />
    <param name="autorepeat_rate" value="20" />
  </node>
  <node pkg="teleop_twist_joy" name="teleop_twist_joy" type="teleop_node">
    <rosparam command="load" file="$(find udv)/config/taranis.config.yaml" />
  </node>
  -->

  <!-- RPLidar Setup -->
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <!-- Camera (No point cloud) -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

  <!-- Camera (with point cloud) -->
  <!--
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" />
  -->
</launch>
